<div class='form_box' style='margin-top:10px;'>
    <div class="span4">
            <!-- Form Name -->
            <fieldset>
            <legend>Stap 3 - All done :)</legend>
          <p>Bedankt voor het bevestigen van de uitnodiging. Laura en Sven hebben één cadeauwens: een bijdrage aan de huwelijksreis naar Java en Bali. Kijk snel verder om te ontdekken hoe we dit tot een groot cadeau van alle gasten willen omtoveren.</p>
          <p><a class="btn btn-purple xmlhttp-link" href="/reviews">Doe mee!</a></p>
           <fieldset>
    </div>
</div>
