//
   Created with IntelliJ IDEA.
   User: pvaughan
   Date: 5/1/13
   Time: 8:22 PM
   To change this template use File | Settings | File Templates.

extends layout
block content
     .container
        .content

            .hero-unit
                h1 All Done!!
                .row
                    .span6
                        p   Bedank voor je bijdrage :) . Graag het bedrag overmaken naar Paul Vaughan ABN-AMRO 60.67.62.094






block script
    script(src='/js/jquery.form.js')
    script(src='/js/view-uploadPhoto.js')
