//
   Created with IntelliJ IDEA.
   User: pvaughan
   Date: 5/1/13
   Time: 8:22 PM
   To change this template use File | Settings | File Templates.

extends layout
block content
     .container
        .content

            .hero-unit
                h1 Cadeau bevestigd
                .row
                    .span9
                        p   Bedank voor je bijdrage :) . Hieronder staat je bestelling. Graag het bedrag voor 24 augustus overmaken naar Paul Vaughan ABN-AMRO 54.89.55.220 onder vermelding van "Cadeau Laura en Sven" + je naam.

        .content
            h2 Bestelling
            table.table
                thead
                    th Cadeau artikel
                    th Aantal
                    th Prijs €

                - each stuff in giftItems
                    tr
                        td
                            p= stuff.Name
                        td
                            p= stuff.quantity
                        td
                            p= stuff.Price
                tr
                    td
                        p Totaal
                    td
                        p
                    td
                        p=total

        .content
                 div(id="alert_placeholder", class="span12")
                 form.form-horizontal.form_box#uploadForm(enctype='multipart/form-data', action='/api/photos', method='post')
                    fieldset
                        legend Maak je cadeau persoonlijk
                        .control-group
                            label.control-label(for='txtWish') Reistip of wens voor Sven en Laura
                            .controls
                                textarea#txtWish(name='txtWish',style="height:300px; width:90%;")
                        .control-group
                            label.control-label(for='userPhoto') Kies een foto
                            .controls
                                input#userPhotoInput(type='file', name='userPhoto')
                        .control-group
                            label.control-label(for='text_NrInStock') Stuur foto en wens
                            .controls
                                button.btn.btn-purple#btnUploadPhoto Verstuur
            .row#resultRow
                .span4
                    h2  Reistip of wens
                    label#uploadedText
                .span6
                    img#uploadedImage

            .row
                .span6#progress
                    p Relax! Dit duurt een momentje :).
                    .progress.progress-striped.active
                        .bar(style='width: 40%;')


block script
    script(src='/js/jquery.form.js')
    script(src='/js/view-uploadPhoto.js')
