//
   Created with IntelliJ IDEA.
   User: pvaughan
   Date: 5/1/13
   Time: 8:22 PM
   To change this template use File | Settings | File Templates.

extends layout

block content
    .container
        .content
            .page-header
                h1= title

            .row
                .span8
                    form#uploadForm(enctype='multipart/form-data', action='/api/photos', method='post')
                        input#userPhotoInput(type='file', name='userPhoto')
                    span#status
                    img#uploadedImage
block script
    script(src='/js/jquery.form.js')
    script(src='/js/view-uploadPhoto.js')
