//
   Created with IntelliJ IDEA.
   User: pvaughan
   Date: 7/14/13
   Time: 1:12 AM
   To change this template use File | Settings | File Templates.

  script
    window.top.location = "http://vaughan.eu01.aws.af.cm/home";