
extends layout
block content
    .container.content
        h1= title

        form(class='add-item-form')
            input(type='text', placeholder='Title', name='Name')
            input(type='text', placeholder='Text', name='Description')
            p
            input(type='file', id='itemPhoto', name='photoFile', multiple='false')
            p
            input(type='submit', class='btn', value = 'Add Item')
        p

        .row


            div(class='span9')
                div(id="items", class="row-fluid")
            div(id="right_basket", class="span3 bs-docs-sidebar")







block script
    script(defer, src='/js/templates.js')
    script(defer, src='/js/view-reviews.js')
